#{extends 'main.html' /}
#{set title:'Login' /}
<div class="header">
<h1>Header</h1>
</div>

#{form @login()}
	#{field 'email'}
        <p class="${field.errorClass}">
            <strong>Email:</strong> <input type="text" name="email" size="25" value="${email}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    
    #{field 'password'}
        <p class="${field.errorClass}">
            <strong>Password:</strong> <input type="password" name="password" size="25" value="${password}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    <p class="buttons">
            <input type="submit" value="Account login" />
            <input type="button" value="Forgot password" onclick = "window.location.href='/resetPassword'"/>
            <input type="button" value="Create account" onclick = "window.location.href='/register'" />
    </p>
    
    
#{/form}
